*{

}

body { 
 background-color: #fa9d7bb8;
  text-align: center;


}

h1 {
 border-bottom-width:5px;
  border-bottom-style: solid;
  border-bottom-color: black; 
background-color: #fabe74;
}

img {
border:black solid 2px

}

ul {
 list-style: none;
   display:flex;
    justify-content: center;
   
}

li {

}

p {
 
  border-top-style:dashed;
  border-rigth-style:dashed;
  border-left-style:dashed;
  border-bottom-style:dashed;
  border-top-color:black;

}
  

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  
}

#text p:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
}

#text p:last-child {

}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{

}

#footer a{

}

#footer a:hover{

}
#image {
  
text-align: right;
margin-right: 60px;

}

@media all and (max-width: 500px) {

}
